{% extends "tickets/home.html" %}
{% block title %}Service Queue{% endblock %}
{% block content %}
  <h4>This page will show you number of customer waiting in queue of each service.</h4>
  <div>Change oil queue: {{ data.change_oil | length }}</div>
  <div>Inflate tyres queue: {{ data.inflate_tyres | length}}</div>
  <div>Get diagnostic queue: {{ data.diagnostic | length}}</div>
  <p><h5>The following button helps operator(service provider) to process next customer which reduces one customer from queue(Based on service priority) and displays details of next customer.</h5></p>
  <form method="post">{% csrf_token %}
    <button type="submit">Process next</button>
  </form>
{% endblock %}